$black-bkg: #222222;
$pink-bkg: #F1E4E6;
$pink-color: #F18B99;
$sales-bkg: #4E4544;
$products-color: #9F9F9F;
$products-bkg: #F8F8F8;
$text-color: #5D5D5D;
$price-color: #F16D7F;
$border-color: #FF6A6A;
$button-color: #F26376;
$border-bkg: #ffffff;
$advantage-bkg: #222224;
$advantage-color: #FBFBFB;
$icon-white: #E8E8E8;

$tablet-width: 1599px;
$tablet-mid-width: 1160px;
$mobile-width: 767px;