.button__main {
    padding: 14px 39px;
    border: 1px solid $border-color;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    background-color: $border-bkg;
    margin-bottom: 95px;
}

.button {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: $button-color;
    text-align: center;
    cursor: pointer;
    padding: 14px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid $border-color;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    background-color: $border-bkg;
    margin-bottom: 95px;
    font-weight: 400;
}

.button:hover,
.button:focus {
    background-color: $button-color;
    color: white;
    transition-duration: .8s;
}