.nav__item-title {
    color: #F16D7F;
    padding-top: 9px;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 33px;
}

.nav__item-list {
    padding-left: 55px;
}

.nav__item-item {
    font-weight: 400;
    color: #6F6E6E;
    padding-bottom: 11px;
}